.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* @media(min-width:1200px) {
  .hero h1 {
      font-size: 39rem;
  }
}
@media(max-width:800px) {
  .hero {
      padding: 0 1rem;
  }
  .hero h1 {
      font-size:10rem;
  }
}
@media(max-width:500px) {
  .hero h1 {
      font-size: 2.5rem;
  }
  .hero h2 {
      font-size: 1.5rem;
  }
} */

/* .main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
